/EditMenu$ActionHandler.class
/EditMenu.class
/FileMenu$ActionHandler.class
/FileMenu.class
/StrokeAttributeMenu$ActionHandler.class
/StrokeAttributeMenu.class
/SubFrame$ActionHandler.class
/SubFrame.class
